#background {
    background-image: url("Background.png");
    background-color: #212121;
    opacity: 0.5;
    height: 1024px;
    object-fit: cover;
    background-repeat: no-repeat;

}
body{
    font-size: 16px;
}
body > *{
    margin-left: 32px;
}
#header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 13.5rem;
}